<h3 class="text-center mt-5 mb-5">Gerenciar clientes</h3>
<!-- <a href="cadastrar-aluno.html" class="btn btn-primary btn-sm mt-3">Adicionar cliente <i class="bi bi-plus"></i></a> -->

<table class="table table-hover  mt-3">
    <thead>
        <tr class="text-center">
            <th scope="col">CPF</th>
            <th scope="col">Nome</th>
            <th scope="col">Data de Nascimento</th>
            <th scope="col">Pontos de Fidelidade</th>
            <th scope="col">Ações</th>
        </tr>
    </thead>
    <tbody>

        <tr class="text-center" *ngFor="let cliente of listaDeClientes">
            <td>{{cliente.cpf}}</td>
            <td>{{cliente.nome}}</td>
            <td>{{cliente.dataNascimento | date : 'dd/MM/yyyy'}}</td>
            <td>{{cliente.pontosFidelidade}}</td>
            <th scope="row">
                <a (click)="removerCliente(cliente.cpf)" class="btn btn-danger btn-sm me-2">
                    <i class="bi bi-trash"></i>
                </a>
                <a (click)="editaCliente(cliente.cpf)" class="btn btn-warning btn-sm">
                    <i class="bi bi-pencil"></i>
                </a>
            </th>
        </tr>
    </tbody>
</table>