<div class="container">
    <div class="row d-flex align-items-center">
        <div class="col">
            <img src="../../../../assets/delicious-donuts.jpg" alt="Donut delicionso" width="300px">
        </div>
        <div class="col text-center ">
            <p>Olá, seja bem vindo ao TropTech Donuts!</p>
            <p> Aqui você irá viajar em um mundo de sabores sobre uma massa maravilhosamente assada.</p>
            <p>Sim, nossos donuts são assados, gerando menos sujeira ao meio ambiente, além se serem mais saudáveis.</p>
        </div>
    </div>
</div>