<div class="container">
    <div class="row d-flex align-items-center">
        <div class="col banner">
            <div class="banner-text">
                <h1 class="mb-5">TropTech <br> Donuts</h1>
                <p>Gerencie seus Clientes, Produtos e Pedidos</p>
            </div>
        </div>
        <!-- <div class="col text-center ">
            <p>Olá, seja bem vindo ao TropTech Donuts!</p>
            <p> Aqui você irá viajar em um mundo de sabores sobre uma massa maravilhosamente assada.</p>
            <p>Sim, nossos donuts são assados, gerando menos sujeira ao meio ambiente, além de serem mais saudáveis.</p>
        </div> -->
    </div>
</div>