<app-mensagem></app-mensagem>
<!-- <app-alerta></app-alerta> -->

<div class="container mt-3">
    <div class="row">
        <div class="col-2"></div>

        <div class="col-8 justify-content-center bg-white rounded-3">
            <header class="border-bottom mb-3">
                <nav class="navbar">
                    <a class="navbar-brand" href="#">
                        <img src="../assets/25491.jpg" alt="Bootstrap" width="70">
                        <span class="fw-bold">Troptech Donuts</span>
                    </a>
                    <ul class="nav justify-content-end">
                        <li class="nav-item">
                            <a routerLink="/" class="nav-link">Início</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">Clientes</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" routerLink="/cliente/cadastrar">Cadastrar</a></li>
                                <li><a class="dropdown-item" routerLink="/cliente">Listar</a></li>
                            </ul>
                        </li>
                        
                        <li class="nav-item">
                            <a routerLink="/produto" class="nav-link">Produtos</a>
                        </li>
                        <li class="nav-item">
                            <a routerLink="/pedido" class="nav-link">Pedidos</a>
                        </li>
                    </ul>
                </nav>
            </header>

            <main>
                <router-outlet></router-outlet>
            </main>

            <footer class="border-top mt-5">
                <p class="mt-2">Criado por Paulo · © 2022</p>
            </footer>

        </div>
        <div class="col-2"></div>


    </div>


</div>